.role-list-page {
  padding-bottom: 1rem;
}

:host ::ng-deep .role-command__toolbar {
  grid-template-columns: minmax(200px, 272px);
}

:host ::ng-deep .role-command__toolbar app-list-search-field {
  max-width: 272px;
}
