<div [formGroup]="form">
  <app-list-command-bar title="Accounting Dashboard" toolbarMinColumn="150px" commandClass="accounting-command">
  <ng-container commandActions>
    <button type="button" class="fin-btn fin-btn--ghost" [disabled]="loading" (click)="reset.emit()">
      {{ 'Reset' | translate }}
    </button>
    <button type="button" class="fin-btn fin-btn--primary" [disabled]="loading" (click)="apply.emit()">
      {{ 'Apply Filters' | translate }}
    </button>
  </ng-container>

  <ng-container commandToolbar>
    <label class="fin-field">
      <span>{{ 'Financial Year' | translate }}</span>
      <select class="fin-select" formControlName="financialYearId">
        @for (year of financialYears; track year.value) {
          <option [value]="year.value">{{ year.label | translate }}</option>
        }
      </select>
    </label>
    <label class="fin-field">
      <span>{{ 'Fleet' | translate }}</span>
      <select class="fin-select" formControlName="fleet">
        @for (fleet of fleets; track fleet.value) {
          <option [value]="fleet.value">{{ fleet.label | translate }}</option>
        }
      </select>
    </label>
    <label class="fin-field">
      <span>{{ 'Branch' | translate }}</span>
      <select class="fin-select" formControlName="branch">
        @for (branch of branches; track branch.value) {
          <option [value]="branch.value">{{ branch.label | translate }}</option>
        }
      </select>
    </label>
    <label class="fin-field fin-field--range">
      <span>{{ 'Date range' | translate }}</span>
      <app-date-range-filter
        [from]="startDateValue()"
        [to]="endDateValue()"
        [fromLabel]="'Date From'"
        [toLabel]="'Date To'"
        [fromPlaceholder]="'Date From'"
        [toPlaceholder]="'Date To'"
        [disabled]="loading"
        (rangeChange)="onDateRangeChange($event)"
      />
    </label>
  </ng-container>

  <ng-container commandPresets>
    @for (item of presets; track item.key) {
      <button type="button" class="fin-pill" [disabled]="loading" (click)="preset.emit(item.key)">
        {{ item.label | translate }}
      </button>
    }
  </ng-container>
  </app-list-command-bar>
</div>
